*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <a href='https://dryicons.com/free-icons/vanilla-ice-cream'> Icon by Dryicons </a> 

<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

*/

body {
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

h1 {
  margin-left: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 24px;
}

.todo-container {
  display: flex;
  margin: 0 auto;
}

.heading {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-container {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
}

.add {
  height: 40px;
}

.side-bar {
  width: 25%;
}

.main {
  flex: 1;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  min-width: 100%;
  opacity: 0.5;
}

.newTodo {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  height: 300px;
  width: 600px;
  margin-top: -150px;
  margin-left: -300px;
  z-index: 100;
  background-color: #fffff4;
  padding: 20px;
  padding-top: 5px;
}

textarea {
  height: 60%;
  width: 100%;
  font-size: 20px;
  margin-top: 5px;
}

.dueDate {
  display: block;
}

.exit {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 40px;
}

.add-todo-button {
  padding: 10px 15px;
  margin-top: 10px;
}
